Flask==3.0.3
Flask-Cors==5.0.0

pandas==2.2.2
numpy==1.26.4

faiss-cpu==1.8.0



langchain==0.2.16
langchain-community==0.2.16

pypdf==4.3.1

mysql-connector-python==9.0.0

requests==2.32.3

rank-bm25==0.2.2

python-dotenv==1.0.1